header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-top: 10px;
}

header nav ul li a {
    margin-left: 1em;
    padding: 5px 10px;
    border-radius: 10px;
}
header nav ul li a:hover {
    background-color: lightgrey;
    text-decoration: none;
}


main {
    display: flex;
    height: 100vh;
}
main aside {
    flex: 20%;
}
main section {
    flex: 80%;
}

footer {
    text-align: center;
}
