
.wrapper {
    height: 100%;
    margin: 0 50px;
    /*border: solid 5px;*/
    position: relative;
}
nav {
    /*border: solid green 5px;*/
    margin: 20px 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
nav h1 {
}
nav ul {
    display: flex;
    justify-content: end;
    /*border: solid;*/
    position: absolute;
    right: 0;
    top: 5px;
}
.categories ul {
    display: flex;
    justify-content: start;
}
li {
    /*border: solid blue;*/
    padding: 5px 0;
}

a {
    color: #000000;
    border: solid 1px black;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px 0 0;
}

.categories {
    /*border: solid blue 5px;*/
    margin-bottom: 25px;
}

.card {
    border: solid 1px black;
    border-radius: 5px;
    width: 250px;
    height: 150px;
    display: inline-block;
    margin: 5px 5px 5px 0;
    padding: 10px;
    position: relative;
}

.card .header {
    margin-bottom: 20px;
}

.card .date {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

main {
    /*border: solid red;*/
}
